:root {
    --element-height * 1px;
    --element-width * 1px;
    --grid-height * 1px;
    --grid-width * 1px;
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.spacer {
    display: hidden;
    margin: 200px auto;
    display: block;
    font-size: 1000px;
    height: 50px;
}

.container {
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    width: var(--grid-width) !important;
    height: var(--grid-height) !important;
    grid-template-columns: repeat(var(--element-height), 1rem);
    grid-template-rows: repeat(var(--element-width), 1rem);
    grid-gap: 0;
    background-color: black;
}

.grid-item {
    background-color: transparent;
}

.active {
    background-color: fuchsia;
}